@use '../../sass/variables' as *;

.search{

    display: flex;
    margin-top: 50px;
    gap: 15px;

    &__input-container{
        position: relative;
        margin-left: 12vw;
    }

    &__search-icon{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: gray;
    }

    input{
        padding-left: 45px;
        height: 48px;
        width: 75vw;
        border-radius: 10px;
        border: 1px solid $border-input-color;
        margin-right: 20px;
    }
}