@use '../../sass/variables' as *;

.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        margin-top: 10rem;
        text-align: center;
    }

    &__input-wrapper{
        margin-top: 83px;
    }
}

h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
}

h2{
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
}

label{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-direction: row;
}

input{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 2px solid $border-input-color;
    width: 100%;
    height: 52px;
    padding-left: 13px;
    margin: 12px 0 12px 0;
    font-size: 14px;
}

button{
    margin-top: 66px;
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    background-color: $contrast-color;
    border-radius: 10px;
    height: 48px;
}

a{
    text-decoration: none;
    color: $white;
}